<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>
<body>
    <h1>Detalles de los Carritos</h1>

    {{#each carts}}
        <div>
            <p>Carrito ID: {{this._id}}</p>

            {{#if this.products.length}}
                <p>Este carrito posee productos</p>
                {{#each this.products}}
                    
                {{/each}}
            {{else}}
                <p>Este carrito está vacío.</p>
            {{/if}}
        </div>
    {{/each}}
</body>
</html>
