<form action="/api/cookie" method="post">
    <input type="text" name="name" id="name" value="Name">
    <input type="text" name="email" id="email" value="Email">
    <input type="submit" value="SUBMIT">
</form>
<button onclick="location.href='/api/cookie/view'">GET COOKIE</button>